# --- Web & API ---
fastapi
uvicorn
pydantic
PyYAML
python-dotenv

# --- LLM & Orchestration ---
langchain==0.1.16
langchain-community==0.0.32
langchain-openai
langchain-weaviate
langchain-cohere
langchain-core
langgraph
langchain-experimental
openai

# --- Vector DB & Data ---
weaviate-client>=3.26.7,<=4.20.4
pymupdf

# --- Infrastructure & Messaging ---
aiokafka
tenacity
prometheus_client

# --- OpenTelemetry (Observability) ---
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-openai
opentelemetry-instrumentation-urllib3
opentelemetry-exporter-prometheus
opentelemetry-exporter-otlp

# --- Testing ---
pytest